.move-area{/*normally use body*/
  width: 100vw;
  height: 100vh;
}
.container {
    z-index: -1;
    width: 100%;
    position: absolute;
}

/*.container {
    width: 100%;
}*/

.eye {
top:280px;
left:370px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #FFF;
	margin-right: 120px;

}

.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  content: " ";
}

.tuan {
  /* Set up proportionate scaling */
/*    position: fixed;
*/	background-image:    url("bg.png");
	height: 700px;
	width: 1080px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

