.move-area{/*normally use body*/
  width: 100vw;
  height: 100vh;
  padding: 10% 45%;
}
.co/*ntainer {
    z-index: -1;
    width: 100%;
    position: absolute;
}*/

.container {
    width: 100%;
}

.eye {
	top:300px;
	left: 10px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #CCC;
	margin-right: 200px;

}

.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}

.tuan {
  /* Set up proportionate scaling */
	background-image:    url("bg.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

